*_token
*_jwt
.coverage
/.well-known/acme-challenge/
beta_users.txt
datastore.dat*
/docs/_build/
flask_secret_key
/l
/local*
limited_domains
private_notes
service_account_creds.json
threads_app_*
TAGS

**/.claude/settings.local.json
