-e git+https://github.com/snarfed/django-salmon.git#egg=django_salmon
-e git+https://github.com/snarfed/webmention-tools.git#egg=webmentiontools
beautifulsoup4
feedparser
granary>=1.12
httpsig
jinja2>=2.10
mf2py>=1.0.4
mf2util>=0.5.0
mock
mox3>=0.24.0
pycrypto
requests==2.10.0
requests-toolbelt==0.6.2
urllib3>=1.14
