git+https://github.com/snarfed/django-salmon.git#egg=django_salmon
git+https://github.com/snarfed/httpsig.git@HTTPSignatureAuth-sign-header#egg=httpsig
git+https://github.com/snarfed/oauth-dropins.git#egg=oauth_dropins
git+https://github.com/snarfed/granary.git#egg=granary
feedparser~=6.0.8
flask~=2.0.2
flask-caching~=1.10.1
flask-gae-static
google-cloud-logging~=2.7.0
gunicorn~=20.1
mf2util~=0.5.1
mox3~=1.1
requests~=2.27
