backports.functools-lru-cache==1.5
beautifulsoup4==4.8.0
brevity==0.2.17
bs4==0.0.1
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
coverage==4.0.3
-e git+https://github.com/snarfed/django-salmon.git@3869986d640222ffe30b9678686b04500ac1de27#egg=django_salmon
docopt==0.6.2
extras==1.0.0
feedgen==0.8.0
feedparser==5.2.1
fixtures==3.0.0
funcsigs==1.0.2
future==0.17.1
gdata==2.0.18
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
-e git+git@github.com:snarfed/granary.git#egg=granary
html2text==2019.8.11
html5lib==1.0.1
httplib2==0.14.0
-e git+git@github.com:snarfed/httpsig.git@6f0ebfe00af39fb75d50c7a29f46da49e8190d70#egg=httpsig
humanize==0.5.1
idna==2.8
Jinja2==2.10.3
linecache2==1.0.0
lxml==3.7.3
MarkupSafe==1.1.1
-e git+git@github.com:snarfed/mf2py.git#egg=mf2py
mf2util==0.5.1
mock==2.0.0
mox3==0.28.0
-e git+git@github.com:snarfed/oauth-dropins.git#egg=oauth_dropins
oauth2client==4.1.3
oauthlib==3.1.0
pbr==5.4.3
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycrypto==2.6.1
PySocks==1.7.1
python-dateutil==2.8.0
python-mimeparse==1.6.0
python-tumblpy==1.1.4
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
rsa==4.0
six==1.12.0
soupsieve==1.9.4
testtools==2.3.0
traceback2==1.4.0
tweepy==3.8.0
ujson==1.35
unittest2==1.1.0
uritemplate==3.0.0
urllib3==1.25.6
webapp2==3.0.0b1
webencodings==0.5.1
-e git+https://github.com/snarfed/webmention-tools.git@a67be86024868a6e99f51be568f78505a79a1e2f#egg=webmentiontools
WebOb==1.8.5
