#intro {
  margin-top: 2em;
  z-index: -1;
}

#logos {
  z-index: 1;
}

#fedsocnet-logos {
  padding-left: 0;
  margin-right: 15px;
  max-width: 80px;
  z-index: 1;
}

#fedsocnet-logos img {
  min-width: 30px;
}

.big {
  font-size: 1.5em;
}

.small {
  font-size: .8em;
}

#header {
  float: none;
  width: 100%;
  z-index: 0;
}

#header p {
  text-align: left;
}

#title {
  font-weight: normal;
}

.row {
  text-align: center;
}

#top {
  margin-bottom: 1em;
}

code {
  color: black;
  background-color: white !important;
  font-size: .8em;
}

a code {
  color: inherit;
}

label {
  /* override Bootstrap style */
  font-weight: 300;
}

#sites li {
  display: inline;
}

#sites li::before {
  content: "\2022 \00A0";
}

#sites li:first-child::before {
  content: none;
}

button {
  border: 0;
  background-color: #337AB7;  /* same color as links */
  color: white;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-left: .5em;
  padding-right: .5em;
  border-radius: 2px;
}

.btn-default {
  border-color: #337AB7;
  color: #337AB7;
}

.btn-default:hover {
  background-color: #BDE;
  border-color: #337AB7;
  color: #337AB7;
}

#get-started {
  border-color: green;
  color: white;
  background-color: #6A6;
  font-size: 1.5em;
}

#get-started:hover {
  background-color: #8C8;
}

#footer {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: right;
}

.shadow {
  -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  /* CSS3 */
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  /* For IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#666666');
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#666666');
}

.shadow:hover {
  -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  /* CSS3 */
  box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  /* For IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#222222');
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#222222');
}

#docs > ul {
  list-style: none;
}

.question {
  margin-top: 2em;
  margin-bottom: .5em;
  font-weight: bold;
}

.answer ul {
  margin-bottom: .5em;
}

pre .keyword, code.keyword {
  color: green;
}

pre .value, code.value {
  color: chocolate;
}

td, th {
  padding-left: .4em;
  padding-right: .4em;
  padding-top: .2em;
  padding-bottom: .2em;
}
