<div class="row">
<ul class="user-items">

{% for f in followers %}
<li class="row">
  <a class="follower col-xs-10 col-sm-6 col-lg-6" href="{{ f.url }}">
    {% if f.picture %}
      <img class="profile u-photo" src="{{ f.picture }}" width="48px">
    {% endif %}
    {{ f.as1.get('displayName') or '' }}
    {{ f.handle }}
  </a>
  {% if page_name == 'following' %}
    <form method="post" action="/unfollow/start" class="col-xs-2 col-sm-1 col-lg-1">
      <input type="hidden" name="me" value="https://{{ domain }}/" />
      <input type="hidden" name="key" value="{{ f.key.id() }}" />
      <input type="submit" title="Unfollow (requires IndieAuth)" value="✖"
             class="btn delete-website" />
    </form>
  {% endif %}
</li>
{% else %}
  None yet. Check back soon!
{% endfor %}

</ul>

{% include "paging.html" %}
