<div class="row">
<ul class="user-items">

{% for f in followers %}
<li class="row">
  {% with url=f.user.web_url() %}
    <a class="follower col-xs-10 col-sm-6 col-lg-6" href="{{ url }}">
      {% with picture=util.get_url(f.user.obj.as1, 'icon') or util.get_url(f.user.obj.as1, 'image') %}
        {% if picture %}
          <img class="profile u-photo" src="{{ picture }}" width="48px">
        {% endif %}
      {% endwith %}
      {{ f.user.obj.as1.get('displayName') or '' }}
      {{ as2.address(f.user.as2() or url) or url }}
    </a>
  {% endwith %}

  {% if page_name == 'following' %}
    <form method="post" action="/unfollow/start" class="col-xs-2 col-sm-1 col-lg-1">
      <input type="hidden" name="me" value="{{ g.user.web_url() }}/" />
      <input type="hidden" name="key" value="{{ f.key.id() }}" />
      <input type="submit" title="Unfollow (requires IndieAuth)" value="✖"
             class="btn delete-website" />
    </form>
  {% endif %}
</li>
{% else %}
  None yet. Check back soon!
{% endfor %}

</ul>

{% include "paging.html" %}
