<br>

{% for a in activities %}
<div class="row">
  <div class="col-sm-5">{{ util.pretty_link(a.source())|safe }}</div>
  <div class="col-sm-4">{{ util.pretty_link(a.target())|safe }}</div>
  <div class="col-sm-3">
    {% if a.status == 'error' %}
     <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
    {% else %}{% if a.status == 'new' %}
     <span title="Processing" class="glyphicon glyphicon-transfer"></span>
    {% endif %}{% endif %}
    {{ logs.maybe_link(a.updated, a.key.id())|safe }}
  </div>
</div>
{% else %}
<div class="row">None</div>
{% endfor %}

{% include "paging.html" %}
