<ul class="user-items h-feed">

{% for obj in objects %}
<li class="row h-entry">
  <div class="e-content col-xs-{{ 5 if show_users else 8 }}">
    {{ obj.actor_link(user=user)|safe }}
    {{ obj.phrase|safe }}
    <a target="_blank" href="{{ obj.url }}" class="u-url">
      {{ obj.content|default('--', true)|striptags|truncate(50) }}
    </a>
  </div>

  {% if show_users %}
  <div class="col-xs-3">
    {% for user in obj.users %}
      {% if loop.index0 == 3 %}
        <span id="more-users" style="display: none">
      {% endif %}
      <a href="{{ user.user_page_path() }}">🌐 {{ user.handle_or_id() }}</a>
      <br>
    {% endfor %}
    {% if obj.users|length > 3 %}
      </span>
      <a onclick="toggle('more-users'); toggle('show-more-users'); return false"
         id="show-more-users" href="#" />...</a>
    {% endif %}
  </div>
  {% endif %}

  <div class="col-xs-2">
    {{ logs.maybe_link(obj.created, obj.key.id(), path=['/queue/webmention','/inbox'])|safe }}
  </div>

  <div class="col-xs-2">
    <ul class="deliveries">
    {% if obj.delivered %}
      <li title="Delivered sucessfully">
        <span class="glyphicon glyphicon-ok-sign"></span>
        {{ obj.delivered|length }}
      </li>
    {% endif %}
    {% if obj.undelivered %}
      <li title="Remaining to be delivered">
        <span class="glyphicon glyphicon-transfer"></span>
        {{ obj.undelivered|length }}
      </li>
    {% endif %}
    {% if obj.failed %}
      <li title="Failed delivery">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        {{ obj.failed|length }}
      </li>
    {% endif %}
    <ul>
  </div>
</li>
{% else %}
  <span class="big">No activity yet. Check back soon!</span>
{% endfor %}

</ul>

{% include "paging.html" %}
