{% set body_id = 'admin' %}
{% extends "base.html" %}

{% block title %}Admin object - Bridgy Fed{% endblock %}

{% block content %}

<div class="row">
  <a href="/admin/">← Admin</a>
</div>

<div class="row iframely-row">
  <div class="iframely-embed col-lg-6 col-md-8 col-xs-12">
    <div class="iframely-responsive">
      {# {{ obj_html|safe }} #}
      <a data-iframely-url href="{{ obj.as1['url'] }}"></a>
    </div>
  </div>
</div>

<hr>

<div class="row line">
  <div class="col-xs-2 field">Id</div>
  <div class="col-xs-10 value">
    {% set protocol = obj.source_protocol %}
    {% set id = obj.key.id() %}
    {% include 'admin_debug_link.html' %}
  </div>
</div>
<div class="row line">
  <div class="col-xs-2 field">Type</div>
  <div class="col-xs-10 value">{{ obj.type }}</div>
</div>
<div class="row line">
  <div class="col-xs-2 field">Protocol</div>
  <div class="col-xs-10 value">{{ obj.source_protocol }}</div>
</div>
<div class="row line">
  <div class="col-xs-2 field">User</div>
  <div class="col-xs-10 value">
    {{ (user.html_link() if user else obj.actor_link())|safe }}
    {% if user %}
      (<a href="/admin/user/{{ user.key.urlsafe().decode() }}">admin</a>)
    {% endif %}
  </div>
</div>
<div class="row line">
  <div class="col-xs-2 field">Created</div>
  <div class="col-xs-10 value">{{ created }} (PT)</div>
</div>
<div class="row line">
  <div class="col-xs-2 field">Updated</div>
  <div class="col-xs-10 value">{{ updated }} (PT)</div>
</div>
<div class="row line">
  <div class="col-xs-2 field">Deleted</div>
  <div class="col-xs-10 value">{{ obj.deleted or 'no' }}</div>
</div>
{% for protocol, id in bridged_ids.items() %}
<div class="row line">
  <div class="col-xs-2 field">{{ protocol.LABEL }}</div>
  <div class="col-xs-10 value">{% include 'admin_debug_link.html' %}</div>
</div>
{% endfor %}

<hr>

{% for field in 'as2', 'bsky', 'mf2', 'nostr', 'our_as1', 'raw', 'as1' %}
  {% set val = getattr(obj, field) %}
  {% if val %}
    <h3>{{ field }}</h3>
    <pre>{{ val | tojson(indent=2) }}</pre>
  {% endif %}
{% endfor %}

<script async src="https://iframely.net/embed.js?key={{ IFRAMELY_API_KEY_MD5 }}&theme=light"></script>

{% endblock %}
