{% set body_id = 'admin' %}
{% extends "base.html" %}

{% block title %}Admin users - Bridgy Fed{% endblock %}

{% block content %}

<div class="row">
  <a href="/admin/">← Admin</a>
</div>

<h3>Users matching &ldquo;{{ query }}&rdquo;</h3>

{% if not users %}
  <p>No users found.</p>
{% endif %}

{% if users|length > 1 %}
  <ul>
  {% for user in users %}
    <li><a href="#{{ user.key.id() }}">
        {{ user.handle_or_id() }} on {{ user.PHRASE }}
    </a></li>
  {% endfor %}
  </ul>
{% endif %}

{% for user in users %}
<hr id="{{ user.key.id() }}">

{% if user.obj and user.obj.as1 and user.obj.as1.get('url') %}
<div class="row">
  <div class="iframely-embed col-lg-6 col-md-8 col-sm-12">
    <div class="iframely-responsive">
      <a data-iframely-url href="{{ user.obj.as1['url'] }}"></a>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  {% include 'user_with_links.html' %}
</div>

<div class="row line">
  <div class="col-xs-10 col-xs-offset-2 value">
    <a href="{{ user.user_page_path() }}">User page</a>
    {% if user.obj %}
      &nbsp; | &nbsp;
      <a href="/admin/object/{{ user.obj_key.id() }}">Profile (admin)</a>
    {% endif %}
    &nbsp; | &nbsp;
    <a href="https://console.cloud.google.com/logs/query;query=SEARCH%2528%22%60{{ user.key.id()|urlencode|replace("/", "%2F") }}%60%22%2529;duration=P7D?project=bridgy-federated" target="_blank">Search logs</a>
  </div>
</div>

<div class="row line">
  <div class="col-xs-2 field">Protocol</div>
  <div class="col-xs-10 value">{{ user.LABEL }}</div>
</div>
<div class="row line">
  <div class="col-xs-2 field">ID</div>
  <div class="col-xs-10 value">
    {% set protocol = user.LABEL %}
    {% set id = user.key.id() %}
    {% include 'admin_debug_link.html' %}
  </div>
</div>

{% if user.handle != user.key.id() %}
<div class="row line">
  <div class="col-xs-2 field">Handle</div>
  <div class="col-xs-10 value">
    {% set protocol = user.LABEL %}
    {% set id = user.handle %}
    {% include 'admin_debug_link.html' %}
  </div>
</div>
{% endif %}

<div class="row line">
  <div class="col-xs-2 field">Status</div>
  <div class="col-xs-10 value">
    {% if user.status %}
      ❌ {{ user.status }} ({{ user.status_description() or '-' }})
    {% else %}
      ✅ eligible
    {% endif %}
  </div>
</div>
<div class="row line">
  <div class="col-xs-2 field">Created</div>
  <div class="col-xs-10 value">{{ user.created }} (PT)</div>
</div>
<div class="row line">
  <div class="col-xs-2 field">Updated</div>
  <div class="col-xs-10 value">{{ user.updated }} (PT)</div>
</div>

{% for protocol, id in user.bridged_ids.items() %}
<div class="row line {% if user.status %} disabled {% endif %}">
  <div class="col-xs-2 field">{{ protocol.LABEL }}</div>
  <div class="col-xs-10 value">
  {% if user.is_enabled(protocol) %}
    <span title="bridging">✅</span>
    <form style="display:inline" method="post" action="/admin/disable">
      <input type="hidden" name="key" value="{{ user.key.urlsafe().decode() }}">
      <input type="hidden" name="protocol" value="{{ protocol.LABEL }}">
      &nbsp; <input type="submit" value="Disable"
                    class="btn btn-default {% if user.status %} disabled {% endif %}" />
    </form>
  {% else %}
    <span title="not bridging">❌</span>
    <form style="display:inline" method="post" action="/admin/enable">
      <input type="hidden" name="key" value="{{ user.key.urlsafe().decode() }}">
      <input type="hidden" name="protocol" value="{{ protocol.LABEL }}">
      &nbsp; <input type="submit" value="Enable"
                    class="btn btn-default {% if user.status %} disabled {% endif %}" />
    </form>
  {% endif %}
  {% include 'admin_debug_link.html' %}
  </div>
</div>
{% endfor %}

{% endfor %}

<script async src="https://iframely.net/embed.js?key={{ IFRAMELY_API_KEY_MD5 }}&theme=light"></script>

{% endblock %}
