{% set body_id = 'admin' %}
{% extends "base.html" %}

{% block title %}Admin - Bridgy Fed{% endblock %}

{% block content %}

<div class="row">
  <a href="/admin/">← Admin</a>
</div>

{% if user.obj %}
<div class="row">
  <div class="iframely-embed col-lg-6 col-md-8 col-sm-12">
    <div class="iframely-responsive">
      {# {{ obj_html|safe }} #}
      <a data-iframely-url href="{{ user.obj.as1['url'] }}"></a>
    </div>
  </div>
</div>
{% endif %}

<hr>

<div class="row">
  {% include 'user_with_links.html' %}
</div>

<hr>

<table>
  <tr><th></th><td>
    <a href="{{ user.user_page_path() }}">User page →</a>
  </td></tr>
  {% if user.obj %}
    <tr><th></th><td>
      <a href="/admin/object/{{ user.obj_key.urlsafe().decode() }}">
        Profile (admin) →
      </a>
    </td></tr>
  {% endif %}
  <tr><th>Protocol</th><td>{{ user.LABEL }}</td></tr>
  <tr><th>ID</th><td>
    {% set protocol = user.LABEL %}
    {% set id = user.key.id() %}
    {% include 'admin_debug_link.html' %}
  </td></tr>
  <tr><th>Handle</th><td>
    {{ user.handle }}
    <button class="btn btn-default btn-copy glyphicon glyphicon-duplicate"
            onclick="copy('{{ user.handle }}')"></button>
  </td></tr>
  <tr><th>Status</th><td>
    {% if user.status %}
      {{ user.status }} ({{ user.status_description() or '-' }})
    {% else %}
      eligible
    {% endif %}
  </td></tr>
  <tr><th>Created</th><td>{{ created }} (PT)</td></tr>
  <tr><th>Updated</th><td>{{ updated }} (PT)</td></tr>
  {% for protocol, id in bridged_ids.items() %}
    <tr>
      <th>
        {{ protocol.LABEL }}
      </th>
      <td>
        {% if user.is_enabled(protocol) %}
          <span title="bridging">✅</span>
          {# {{ user.html_link(proto=protocol, name=False)|safe }} #}
          <form method="post" action="/admin/disable/{{ user.obj_key.urlsafe().decode() }}">
            <input type="submit" value="Disable" />
          </form>
        {% else %}
          <span title="not bridging">❌</span>
          <form method="post" action="/admin/enable/{{ user.obj_key.urlsafe().decode() }}">
            <input type="submit" value="Enable" />
          </form>
        {% endif %}
        {% include 'admin_debug_link.html' %}
      </td>
    </tr>
  {% endfor %}
</table>

<script async src="https://iframely.net/embed.js?key={{ IFRAMELY_API_KEY_MD5 }}&theme=light"></script>

{% endblock %}
