{% set body_id = 'admin' %}
{% extends "base.html" %}

{% block title %}Admin - Bridgy Fed{% endblock %}

{% block content %}

<div class="row">
  <a href="/admin/">← Admin</a>
</div>

<div class="row">
  {% include 'user_with_links.html' %}
</div>

<table>
  <tr><th></th><td>
    <a href="{{ user.user_page_path() }}">User page →</a>
  </td></tr>
  {% if user.obj %}
    <tr><th></th><td>
      <a href="/admin/object/{{ user.obj_key.urlsafe().decode() }}">
        Profile (admin) →
      </a>
    </td></tr>
  {% endif %}
  <tr><th>Protocol</th><td>{{ user.LABEL }}</td></tr>
  <tr><th>ID</th><td>
      {% set protocol = user.LABEL %}
      {% set id = user.key.id() %}
      {% include 'admin_debug_link.html' %}
  </td></tr>
  <tr><th>Handle</th><td>
      {{ user.handle }}
      <button class="btn btn-default btn-copy glyphicon glyphicon-duplicate"
              onclick="copy('{{ user.handle }}')"></button>
  </td></tr>
  <tr><th>Bridging to</th><td>{{ ' '.join(user.enabled_protocols) }}</td></tr>
  {% for copy in user.copies %}
    <tr>
      <th>
        {% if copy.protocol not in user.enabled_protocols %} (not enabled) {% endif %}
        {{ copy.protocol }}
      </th>
      <td>
        {% if copy.protocol in user.enabled_protocols %}
          {{ user.html_link(proto=PROTOCOLS[copy.protocol], name=False)|safe }}
        {% endif %}
        {% include 'admin_debug_link.html' %}
      </td>
    </tr>
  {% endfor %}
  {# <tr><th>Bio</th><td>{{ as1.get('summary', '') }}</td></tr> #}
  <tr><th>Status</th><td>{{ user.status or 'eligible'  }} {{ user.status_description() or ''}}</td></tr>
  <tr><th>Created</th><td>{{ created }} (PT)</td></tr>
  <tr><th>Updated</th><td>{{ updated }} (PT)</td></tr>
</table>

{% endblock %}
