{% set body_id = 'admin' %}
{% extends "base.html" %}

{% block title %}Admin object - Bridgy Fed{% endblock %}

{% block content %}

<div class="row">
  <a href="/admin/">← Admin</a>
</div>

<div class="row iframely-row">
  <div class="iframely-embed col-lg-6 col-md-8 col-sm-12">
    <div class="iframely-responsive">
      {# {{ obj_html|safe }} #}
      <a data-iframely-url href="{{ obj.as1['url'] }}"></a>
    </div>
  </div>
</div>


<table>
  <tr>
    <th>Id</th>
    {% set protocol = obj.source_protocol %}
    {% set id = obj.key.id() %}
    <td>{% include 'admin_debug_link.html' %}</td>
  </tr>
  <tr><th>Type</th><td>{{ obj.type }}</td></tr>
  <tr><th>Protocol</th><td>{{ obj.source_protocol }}</td></tr>
  <tr><th>User</th><td>
      {{ (user.html_link() if user else obj.actor_link())|safe }}
      {% if user %}
        (<a href="/admin/user/{{ user.key.urlsafe().decode() }}">admin</a>)
      {% endif %}
  </td></tr>
  <tr><th>Created</th><td>{{ created }} (PT)</td></tr>
  <tr><th>Updated</th><td>{{ updated }} (PT)</td></tr>
  <tr><th>Deleted</th><td>{{ obj.deleted or 'no'}}</td></tr>
  {% for protocol, id in bridged_ids.items() %}
    <tr>
      <th>
        {{ protocol.LABEL }}
      </th>
      <td>{% include 'admin_debug_link.html' %}</td>
    </tr>
  {% endfor %}
</table>

{% for field in 'as2', 'bsky', 'mf2', 'nostr', 'our_as1', 'raw', 'as1' %}
  {% set val = getattr(obj, field) %}
  {% if val %}
    <h3>{{ field }}</h3>
    <pre>{{ val | tojson(indent=2) }}</pre>
  {% endif %}
{% endfor %}

<script async src="https://iframely.net/embed.js?key={{ IFRAMELY_API_KEY_MD5 }}&theme=light"></script>

{% endblock %}
