{% extends "base.html" %}

{% block title %}ATProto state - Bridgy Fed{% endblock %}

{% block content %}

<h3>ATProto state</h3>
<ul>
<li>firehose:
  <ul>
    <li>size: {{ len(firehose.rollback) }}
    <li>start: {{ firehose.rollback[0][1]['seq'] }} {{ firehose.rollback[0][1]['time'] }}
    <li>end: {{ firehose.rollback[-1][1]['seq'] }} {{ firehose.rollback[-1][1]['time'] }}
    <li>lock: {{ firehose.lock_holder }}
  </ul>

{% for nsid, subs in subscribers.items() %}
<li>{{ nsid }} ({{ len(subs) }})
<ul>
  {% for s in subs %}
    {% set host = gethostbyaddr(s.ip) %}
    {% set pt = pytz.timezone('US/Pacific') %}
    <li {% if host and (host == 'bsky' or host.endswith('.zayo.com')) %}style="background-color: lightgreen"{% endif %}>
      {{ s.ip }} {{ host }} {{s.user_agent }} {{ s.args }} {{ s.start.astimezone(pt) }}
  {% endfor %}
<ul>
{% endfor %}
</ul>
</h3>

{% endblock %}
