<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}Bridgy Fed{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes"/>
<link rel="shortcut icon" sizes="128x128" href="https://brid.gy/static/bridgy_logo_128.jpg">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="https://brid.gy/static/bridgy_logo_128.jpg">
<!-- 32x32 last so that browsers prefer it -->
<link rel="shortcut icon" sizes="32x32" href="https://brid.gy/static/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="32x32" href="https://brid.gy/static/favicon.png">
<link rel="stylesheet" href="/oauth_dropins_static/bootstrap.min.css" />
<link rel="stylesheet" href="/oauth_dropins_static/util.css" type="text/css" />
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<link rel="webmention" href="/webmention" />
<!-- Not async because it adds a DOMContentLoaded event listener, which may
  -- happen before an async script loads. -->
<script src="/oauth_dropins_static/util.js"></script>
</head>

<body id="{{ body_id }}">
{% with messages = get_flashed_messages() %}
{% if messages %}
  <div id="messages">
  {% for message in messages %}
    <p class="message shadow">{{ message|safe }}</p>
  {% endfor %}
  </div>
{% endif %}
{% endwith %}

<main class="tp-main lead
             {% if body_id == 'front' %} container-fluid
             {% else %} container
             {% endif %}">

<div id="header" class="row">
  <p id="logo">
    <a href="/">
     <img id="logo-img" src="/static/bridgy_logo_with_alpha.png" />
     <span class="big">Bridgy Fed</span>
    </a>
  </p>

  <div class="header-links">
    <a href="/docs">Docs</a> &nbsp;
    <a href="https://snarfed.org/?s=%22bridgy+fed%22">News</a> &nbsp;
    <a href="https://github.com/snarfed/bridgy-fed">Code</a> &nbsp;
    <a href="https://github.com/snarfed/bridgy-fed/issues">Issues</a>

    <span class="divider">|</span>

    {% if logins %}
      <a id="logins" href="/settings">
      {% for login in logins %}  <!-- oauth-dropins auth entities -->
        <nobr title="{{ login.site_name() }}: {{ login.user_display_name() }}">
          <img class="profile" src="{{ login.image_url() }}" />
          <img class="provider" width="24"
               src="/oauth_dropins_static/{{ login.site_name().lower() }}_icon.png" />
        </nobr>
      {% endfor %}
      </a>

      <span class="divider">|</span>

      <form action="/logout" method="post">
        <input type="submit" class="btn-link" value="Logout" />
      </form>

    {% else %}
      <a href="/login">Login</a>

    {% endif %}
  </div>
</div>

{% block content %}
{% endblock %}

<div id="footer" class="row">
  <p class="header-links">
    <a href="/docs">Docs</a> &nbsp;
    <a href="https://snarfed.org/?s=%22bridgy+fed%22">News</a> &nbsp;
    <a href="https://github.com/snarfed/bridgy-fed">Code</a> &nbsp;
    <a href="https://github.com/snarfed/bridgy-fed/issues">Issues</a>
  </p>
</div>

</main>

<script src="/static/fragmention.js"></script>
</body>
</html>
