{# NOTE: this template is largely duplicated in bounce. Keep them in sync. #}
{% set body_id = 'migrate' %}
{% extends "base.html" %}

{% block content %}

<div class="row big">
  <p>Migrating <nobr>{{ user.html_link(proto=ATProto, name=False, pictures=True)|safe }}</nobr> to <nobr><img src="/oauth_dropins_static/bluesky_icon.png" class="logo" title="Bluesky" /> {{ util.pretty_link(pds)|safe }}</nobr>...
</div>

<div class="row">
  <p>Please enter login details for your new account.
</div>

<div class="row">
  <form action="/settings/migrate-to-atproto/create-account" method="post"
        onsubmit="return window.confirm('Migrating out is irreversible. Are you sure?')">
    <input type="hidden" name="key" value="{{ user.key.urlsafe().decode() }}" />
    <input type="hidden" name="pds" value="{{ pds }}" />

    <p><input type="email" name="email" required placeholder="email"
              value="{{ email or '' }}" />
    <p><input type="password" name="password" required placeholder="password" />
    <p><input type="text" name="handle" maxlength="20"
              placeholder="handle (optional)" value="{{ handle or '' }}"
              pattern="[a-z][a-z0-9\-]*" />{{ handle_domain }}
    <input type="hidden" name="handle_domain" value="{{ handle_domain or '' }}" />
    {% if show_invite_code %}
      <p><input type="text" name="invite_code" required placeholder="invite code"
                value="{{ invite_code or '' }}" />
    {% endif %}
    {% if show_phone_verification_code %}
      <p><input type="text" name="phone_verification_code" required
                placeholder="phone verification code" />
    {% endif %}
    <p><input type="submit" class="btn btn-default" value="Migrate" />
  </form>
</div>

{% endblock content %}
