{% extends "base.html" %}

{% block content %}

<p class="row big">Enter a user to bridge</p>
<p class="row">May be a web site domain or <code>@user@server</code> fediverse address. Bridgy Fed will federate the user into the <a href="https://atproto.com/blog/federation-developer-sandbox">Bluesky sandbox</a>.</p>

<div class="row big">
<form method="post" action="">  <!-- empty action means post to same URL -->
  <input required name="handle" id="handle" placeholder="@snarfed@mastodon.social" />
  <input type="submit" class="btn btn-default" value="OK" />
</form>
</div>

{% endblock %}
