{% extends "base.html" %}

{% block title %}{{ domain }}'s following - Bridgy Fed{% endblock %}

{% block content %}

{% include "user_addresses.html" %}

<div class="row big">Following</div>

<div class="row">
<form method="post" action="/follow/start">
<p>
 <label for="follower-address">Add a follower (requires <a href="https://indieauth.net/">IndieAuth</a>):</label>
 <input id="follower-address" name="address" type="text" required
        placeholder="@user@domain.social" alt="fediverse address"
        value="{{ address or '' }}"></input>
 <input name="me" type="hidden" value="https://{{ domain }}"></input>
 <button type="submit" class="btn btn-default">Follow</button>
</p>
</form>
</div>

{% include "_followers.html" %}

{% endblock %}
