{% extends "base.html" %}

{% block title %}Hub state - Bridgy Fed{% endblock %}

{% block content %}

<style type="text/css">
td {
  padding-left: .5em;
}
</style>

<ul>
<li>ATProto firehose:
  {% if firehose.rollback %}
  <ul>
    <li>size: {{ len(firehose.rollback) }}
    <li>start: {{ firehose.rollback[0][1]['seq'] }} {{ firehose.rollback[0][1]['time'] }}
    <li>end: {{ firehose.rollback[-1][1]['seq'] }} {{ firehose.rollback[-1][1]['time'] }}
  </ul>
  {% endif %}

{% for nsid, subs in lexrpc.flask_server.subscribers.items() %}
<li>{{ nsid }} ({{ len(subs) }})
<table>
  <tbody>
    {% set subs = sorted(subs, key=operator.attrgetter('start')) %}
    {% for s in subs %}
      {% set host = gethostbyaddr(s.ip) %}
      {% set pt = pytz.timezone('US/Pacific') %}
      <tr {% if host and (host == 'bsky' or host.endswith('.zayo.com')) %}style="background-color: lightgreen"{% endif %}>
        <td>{{ host }}</td>
        <td>{{ s.ip }}</td>
        <td>{{ s.user_agent }}</td>
        <td>{{ s.args['cursor'] }}</td>
        <td>{{ s.start.astimezone(pt) }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}

<li>Nostr relays ({{ len(nostr_hub.subscribed_relays) }}):
  <ul>
    {% for uri, relay in nostr_hub.subscribed_relays.items() %}
    <li>{{ uri }} since {{ relay.since }}
        {% if relay.since %} {{ datetime.fromtimestamp(relay.since) }} {% endif %}
    {% endfor %}
  </ul>
</ul>

{% endblock %}
