{% set body_id = 'front' %}
{% extends "base.html" %}

{% block content %}
<script src="/static/jquery-3.7.1.slim.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/index.js"></script>

<div id="front-form" class="row front-dark">
<div id="topology" style="position: absolute; top: 0; left: 0"></div>
<div id="front-tagline" class="row bigger">
  <em class="front-form-text">
    Bridging the new <br class="visible-xs-inline"> social internet
  </em>
</div>
</div>

<div class="row big front-light">
<p>Got a <span class="web">🌐 web</span> site? Enter it here to use it on the <a class="fediverse" href="https://en.wikipedia.org/wiki/Fediverse"><img src="/static/fediverse_logo.svg"> fediverse</a>:
<form method="post" action="/web-site">
  <input required type="url" name="url" id="url" placeholder="example.com" />
  <input type="submit" class="btn btn-default" value="Go" />
</form>
</p>
</div>

<div class="row big front-dark">
<p>Got a <a class="fediverse" href="https://en.wikipedia.org/wiki/Fediverse"><img src="/static/fediverse_logo.svg"> fediverse</a> account? Follow any <span class="web">🌐 web</span> site, eg <a class="handle" href="https://example.com/">example.com</a>, by searching for <span class="handle">@example.com@web.brid.gy</span> in your fediverse instance.</p>
</div>

<div class="row big front-light">
<p>Bridgy Fed connects some of the most popular decentralized social networks. You can use it from one network to follow people on another, see their posts, and reply and like and repost them. All interactions work in both directions. <a href="/docs">See the docs for more info.</a></p>
</div>

<div class="row big front-dark">
<p>Bridgy Fed currently supports web sites and blogs and the <a href="https://enwp.org/fediverse">fediverse</a> via <a href="https://activitypub.rocks/">ActivityPub</a>. <a href="https://blueskyweb.xyz/">Bluesky</a>/<a href="https://atproto.com/">AT Protocol</a> and <a href="https://en.wikipedia.org/wiki/Nostr">Nostr</a> are planned for 2024.</p>
</div>

<div class="row big front-light">
<p>Bridgy Fed is a free, non-commercial, <a href="https://github.com/snarfed/bridgy-fed">open source</a> service. <a href="https://snarfed.org/2023-11-27_re-introducing-bridgy-fed">More background here.</a> <a href="mailto:feedback@brid.gy">Feedback</a> and <a href="https://github.com/snarfed/bridgy-fed/issues">bug reports</a> are welcome!</a></p>
</div>

<div id="front-logo-bottom" class="row">
  <p id="logo-img-bottom" class="col-sm-4 col-xs-6 col-sm-offset-4 col-xs-offset-3">
    <img src="/static/bridgy_logo_with_alpha.png" class="center-block img-responsive" />
  </p>
</div>

<script src="static/q5.min.js"></script>
<script src="static/topology.js"></script>

{% endblock %}
