{% set body_id = 'login' %}
{% extends "base.html" %}

{% block content %}

<p class="row big">
  <strong>{{ client_name }}</strong> wants to connect to your Bridgy Fed account,
  logged in as <strong>{{ user.handle_or_id() }}</strong>.
</p>

<div class="row big" style="font-size: 14px">
  <form method="post" action="/oauth/authorize" style="display: inline">
    <input name="state" type="hidden" value="{{ state }}">
    <input name="user_key" type="hidden" value="{{ user.key.urlsafe().decode() }}">
    <button type="submit">Authorize</button>
  </form>

  <form method="post" action="/oauth/authorize" style="display: inline">
    <input name="state" type="hidden" value="{{ state }}">
    <input name="deny" type="hidden" value="1">
    <button type="submit">Cancel</button>
  </form>
</div>

{% endblock %}
