{% extends "user_base.html" %}
{% set tab = "profile" %}
{% set show_activity_actors = False %}

{% block subtabs %}
{% if user.is_enabled(ActivityPub) %}
  <link href="{{ user.id_as(ActivityPub) }}" rel="alternate" type="application/activity+json">
{% endif %}
<div class="row tabs">
  <a></a>
  <a href="{{ user.user_page_path() }}"
     {% if not subtab %}class="active-tab"{% endif %}
     >activity</a><a
  href="{{ user.user_page_path('followers') }}"
     {% if subtab == 'followers' %}class="active-tab"{% endif %}
     >{{ num_followers }} follower{% if followers != '1' %}s{% endif %}</a><a
  href="{{ user.user_page_path('following') }}"
     {% if subtab == 'following' %}class="active-tab"{% endif %}
     >following {{ num_following }}</a>
  <a></a>
</div>

{% block subsubtabs %}
{% endblock subsubtabs %}

{% endblock subtabs %}
