<!-- <table> -->
<!-- <tr><th>Source</th> <th>Target</th> <th>Protocol</th> <th>Status</th> <th>Time (click for log)</th></tr> -->

<br>

{% for r in responses %}
<div class="row">
  <div class="col-sm-3">{{ util.pretty_link(r.source())|safe }}</div>
  <div class="col-sm-3">{{ util.pretty_link(r.target())|safe }}</div>
  <div class="col-sm-2">{{ r.protocol }}</div>
  <div class="col-sm-2">{{ r.status }}</div>
  <div class="col-sm-2">
  {% if r.log_url_path %}<a href="{{ r.log_url_path }}">{% endif %}
    {{ r.updated.replace(microsecond=0) }}
  {% if r.log_url_path %}</a>{% endif %}
  </div>
</div>
{% else %}
<div class="row">None</div>
{% endfor %}
<!-- </table> -->

<div class="row">
<div class="col-sm-3">
  {% if after %}
    <a href="?after={{ after }}#responses">&larr; Newer</a>
  {% endif %}
</div>

<div class="col-sm-3 col-sm-offset-6">
  {% if before %}
    <a href="?before={{ before }}#responses">Older &rarr;</a>
  {% endif %}
</div>
</div>
