<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Bridgy Fed: Logs</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes"/>
<link rel="stylesheet" href="/static/bootstrap.min.css" />
<link rel="stylesheet" href="/static/style.css" type="text/css" />
</head>

<body>
<main class="tp-main lead container">
<h1>Bridgy Fed: Logs</h1>
<h3>Recent requests we've attempted to federate.</h3>

<table>
<tr><th>Source</th> <th>Target</th> <th>Protocol</th> <th>Status</th> <th>Time (click for log)</th></tr>
{% for r in responses %}
<tr>
  <td>{{ r.source_link|safe }}</td>
  <td>{{ r.target_link|safe }}</td>
  <td>{{ r.protocol }}</td>
  <td>{{ r.status }}</td>
  <td>
  {% if r.log_url_path %}<a href="{{ r.log_url_path }}">{% endif %}
    {{ r.updated.replace(microsecond=0) }}
  {% if r.log_url_path %}</a>{% endif %}
  </td>
</tr>
{% endfor %}
</table>

</main>
</body>
</html>
