{% extends "base.html" %}

{% block title %}Respond - Bridgy Fed{% endblock %}

{% block content %}

{#
Docs: https://iframely.com/docs/embedjs
key is the MD5 hash of our API key
#}
<script async src="https://iframely.net/embed.js?key={{ IFRAMELY_API_KEY_MD5 }}"></script>

<div class="row">
  {% include 'user_with_links.html' %}
</div>

<div class="row iframely-row">
  <div class="iframely-embed col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
    <div class="iframely-responsive">
      <a data-iframely-url href="{{ obj.as1['url'] }}"></a>
    </div>
  </div>
</div>

<div class="row">
  <form method="post" action="respond/like">
    <input type="hidden" name="obj_id" value="{{ obj.key.id() }}" />
    <input type="hidden" name="token" value="{{ token }}" />
    <button type="submit" class="btn btn-default">❤️ Like</button>
  </form>

  <form method="post" action="respond/repost">
    <input type="hidden" name="obj_id" value="{{ obj.key.id() }}" />
    <input type="hidden" name="token" value="{{ token }}" />
    <button type="submit" class="btn btn-default">🔁 Repost</button>
  </form>
</div>

<form method="post" action="respond/reply">
  <input type="hidden" name="obj_id" value="{{ obj.key.id() }}" />
  <input type="hidden" name="token" value="{{ token }}" />
  <div class="row">
    {% set maxlength = 300 if obj.source_protocol == 'atproto'
           else 500 if obj.source_protocol == 'activitypub'
           else ''
    %}
    <textarea id="reply-text" name="content" rows="3" maxlength="{{ maxlength }}"
              class="iframely-embed col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
    </textarea>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-default">💬 Reply</button>
  </div>
</form>

</div>

{% endblock content %}
