{% extends "base.html" %}

{% block title %}Respond - Bridgy Fed{% endblock %}

{% block content %}

<div class="row">
  {% include 'user_with_links.html' %}
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
    <div class="post-embed">
      {% set obj_proto = PROTOCOLS[obj.source_protocol] %}
      <span class="logo post-logo" title="{{ obj_proto.PHRASE.removeprefix('the ') }}">
        {{ (obj_proto.LOGO_HTML or obj_proto.LOGO_EMOJI)|safe }}
      </span>
      {{ obj_html|safe }}
    </div>
  </div>
</div>

<div class="row">
  <form method="post" action="respond/like">
    <input type="hidden" name="obj_id" value="{{ obj.key.id() }}" />
    <input type="hidden" name="token" value="{{ token }}" />
    <button type="submit" class="btn btn-default">❤️ Like</button>
  </form>

  <form method="post" action="respond/repost">
    <input type="hidden" name="obj_id" value="{{ obj.key.id() }}" />
    <input type="hidden" name="token" value="{{ token }}" />
    <button type="submit" class="btn btn-default">🔁 Repost</button>
  </form>

  <form method="post" action="respond/block">
    <input type="hidden" name="obj_id" value="{{ obj.key.id() }}" />
    <input type="hidden" name="token" value="{{ token }}" />
    <button type="submit" class="btn btn-default">🚫 Block</button>
  </form>
</div>

<form method="post" action="respond/reply">
  <input type="hidden" name="obj_id" value="{{ obj.key.id() }}" />
  <input type="hidden" name="token" value="{{ token }}" />
  <div class="row">
    {% set maxlength = 300 if obj.source_protocol == 'atproto'
           else 500 if obj.source_protocol == 'activitypub'
           else ''
    %}
    <textarea id="reply-text" name="content" rows="3" maxlength="{{ maxlength }}"
              class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12"></textarea>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-default">💬 Reply</button>
  </div>
</form>

</div>


{% endblock content %}
