{% set body_id = 'settings' %}
{% extends "base.html" %}

{% block content %}
<script src="/static/jquery-3.7.1.slim.min.js"></script>
<script src="/static/bootstrap.min.js"></script>

<script>
$(document).ready(function() {
  $('#blocklist-buttons-panel').on('shown.bs.collapse', function() {
    $('a[href="#blocklist-buttons-panel"]').text('▾ Domain blocklists');
  });
  $('#blocklist-buttons-panel').on('hidden.bs.collapse', function() {
    $('a[href="#blocklist-buttons-panel"]').text('▸ Domain blocklists');
  });
});
</script>

<p class="row big" style="text-align: left">Accounts</p>

{% for user in users %}
{% set logo = user.logo %}
{% set key = user.key.urlsafe().decode() %}
<div class="profile-row">
  {% include 'user_with_links.html' %}
  <br><br>

  {% if user.enabled_protocols and not user.status %}  {# Bridging: on #}
    <!-- to {{ user.enabled_protocols|join(', ') }} -->

    <form method="post" action="/settings/disable" class="settings-item"
          onsubmit="return window.confirm('Are you sure you want to disable bridging? Disabling has effects that can\'t easily be reversed, even if you later re-enable bridging. For example, disabling removes all fediverse followers.')" />
      <span id="{{ key }}-switch-disabled-notice" class="disabled-notice"></span>
      <a href="{{ user.user_page_path() }}">Bridging: </a>
      <input name="key" type="hidden" value="{{ key }}" />
      <label class="switch" id="{{ key }}-switch-wrapper">
        <input id="{{ key }}-switch" type="checkbox" checked onClick="bridgingSwitch(event)">
        <span class="slider round"></span>
      </label>
      <noscript>
        <input type="submit" value="Disable" class="btn btn-default disable-button" />
      </noscript>
    </form>

    {# TODO: generalize #}
    {% if 'atproto' in user.enabled_protocols %}
      <form method="post" action="/settings/set-username" class="settings-item">
        <input name="key" type="hidden" value="{{ key }}" />
        <input name="protocol" type="hidden" value="atproto" />
        <label for="username"><a href="/docs#bluesky-enhanced">Set Bluesky handle</a>:</label>
        <input id="username" type="text" name="username" placeholder ="your.domain" />
        <input type="submit" value="Go" class="btn btn-default" />
      </form>
    {% endif %}

    <form method="post" action="/settings/toggle-notifs" class="settings-item">
      <input name="key" type="hidden" value="{{ key }}" />
      <a href="/docs#notifs">DM notifications from unbridged accounts</a>:

      <label class="switch" id="{{ key }}-notifs-wrapper">
        <input id="{{ key }}-switch" type="checkbox"
               onClick="event.currentTarget.closest('form').submit()"
               {% if user.send_notifs == 'all' %}checked{% endif %} />
        <span class="slider round"></span>
      </label>
      <noscript>
        <input type="submit" class="btn btn-default"
               value="{{ 'Enable' if user.send_notifs == 'none' else 'Disable' }}" />
      </noscript>
    </form>

    <div id="{{ key }}-block-row" class="row">
    <form method="post" action="/settings/block"
          class="settings-item col-sm-12 col-md-5">
      <input name="key" type="hidden" value="{{ key }}" />
      <label for="{{ key }}-target"><a href="/docs#block">Block</a>:</label>
      <input id="{{ key }}-target" type="text" name="target" placeholder="user or blocklist" />
      <input type="submit" value="Go" class="btn btn-default" />
    </form>

    <div id="{{ key }}-blocklist-buttons"
         class="blocklist-buttons panel-group row col-sm-12 col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#{{ key }}-blocklist-buttons"
             href="#{{ key }}-blocklist-buttons-panel" aria-expanded="false">
            ▸ Domain blocklists
          </a>
        </div>
        <div id="{{ key }}-blocklist-buttons-panel"
             class="panel-collapse collapse">
          <div class="panel-body">
            {% for blocklist in KNOWN_DOMAIN_BLOCKLISTS.values() %}
              {% if blocklist not in user.domain_blocklists %}
              <form method="post" action="/settings/block" class="col-xs-6 col-lg-4">
                <nobr>
                <input name="key" type="hidden" value="{{ key }}" />
                <input name="target" type="hidden" value="{{ blocklist.csv_url }}" />
                <input type="submit" value="{{ blocklist.name }}"
                       class="btn btn-default"
                       title="Subscribe to {{ blocklist.name }}" />
                <a href="{{ blocklist.about_url }}" target="_blank">ⓘ</a>
                </nobr>
              </form>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    </div>  <!-- Block + domain blocklists accordion row -->

    {% if user.domain_blocklists %}
    <p>
      Currently subscribed to these domain blocklists:
    </p>
    <ul class="user-items">
      {% for blocklist in user.domain_blocklists %}
      <li class="row">
        <span class="col-xs-10 col-sm-10 col-lg-6">
          <a href="{{ blocklist.about_url }}">{{ blocklist.name }}</a>
        </span>
        <form method="post" action="/settings/unblock" class="col-xs-2 col-sm-1 col-lg-1">
          <input type="hidden" name="key" value="{{ key }}" />
          <input type="hidden" name="target" value="{{ blocklist.csv_url }}" />
          <input type="submit" title="Unblock {{ blocklist.name }}" value="✖" class="btn delete-item" />
        </form>
      </li>
      {% endfor %}
    </ul>
    {% endif %}


  {% else %}  {# Bridging: off #}
    <label id="{{ key }}-switch-disabled-notice" class="disabled-notice"></label>
    Bridging:
    <form method="post" action="/settings/enable" class="settings-item">
      <input name="key" type="hidden" value="{{ key }}" />
      <label class="switch" id="{{ key }}-switch-wrapper">
        <input id="{{ key }}-switch" type="checkbox" onClick="bridgingSwitch(event)" {% if user.status and user.status != 'private' %}disabled="true"{% endif %}>
        <span class="slider round"></span>
      </label>
      <noscript>
        <input type="submit" value="Enable" class="btn btn-default enable-button"
           {% if user.status and user.status != 'private' %}disabled="true"{% endif %} />
      </noscript>
    </form>
    {% if user.status %} Not bridging
      {% if user.status_description() %}
        because your {{ user.status_description() }}
      {% endif %}
    {% endif %}
  {% endif %}
</div>
{% endfor %}

<form action="/login" method="get">
  <input type="submit" class="btn btn-default" value="Add account" />
</form>
<form action="/logout" method="post">
  <input type="submit" class="btn btn-default disable-button"
         value="Log out of all accounts" />
</form>

{% endblock content %}
