<span class="big">
  <nobr>
  {% if logo is not defined %}
    {% set logo = None %}
  {% endif %}
  {{ user.user_link(pictures=True, logo=logo)|safe }}
  <form method="post" action="{{ user.user_page_path('update-profile', prefer_id=True) }}">
    <button id="update-profile-button" type="submit" title="Update profile"
            class="btn btn-default glyphicon glyphicon-refresh"></button>
  </form>
  </nobr>
</span>

<br>

{% for proto in bridged_protos %}
  {% set url = proto.bridged_web_url_for(user) %}
  {% set handle = user.handle_as(proto) %}
  <nobr title="{{ proto.__name__ }} (bridged): {{ handle }}">
  {% if url %} <a rel="me" href="{{ url }}"> {% endif %}
    <span class="logo">{{ (proto.LOGO_HTML or proto.LOGO_EMOJI)|safe }}</span>
    <span style="unicode-bidi: isolate">{{ util.ellipsize(handle, chars=40) }}</span>
    </a>
  <button class="btn btn-default btn-copy glyphicon glyphicon-duplicate"
          onclick="copy('{{ handle }}')"
          title="Copy {{ handle }} to clipboard"></button>
  {% if proto.HAS_COPIES %}
    {% set did = user.npub() if proto == Nostr else user.get_copy(proto) %}
    <button class="btn btn-default btn-copy glyphicon glyphicon-tag"
            onclick="copy('{{ did }}')"
            title="Copy {{ did }} to clipboard"></button>
  {% endif %}
  {% if not loop.last %}
    &middot;
  {% endif %}
  </nobr>
{% endfor %}
