{% extends "base.html" %}

{% block title %}{{ domain }} - Bridgy Fed{% endblock %}

{% block content %}

<div class="row">
  <h2 style="display: inline">
    <a href="https://{{ domain }}/">🌐 {{ domain }}</a>
  </h2>
  <h3 style="display: inline">
    | <a href="/user/{{ domain }}/followers">{{ followers }} follower{% if followers != '1' %}s{% endif %}</a>
    | <a href="/user/{{ domain }}/following">following {{ following }}</a>
  </h3>
</div>

<h3 class="row">Recent activity</h3>

{% include "responses.html" %}

{% endblock %}
