{% extends "base.html" %}

{% block title %}{{ domain }} - Bridgy Fed{% endblock %}

{% block content %}

{% if user.has_redirects == False %}
<div class="row promo warning">
<p>Your site isn't serving the <code>.well-known</code> redirects.
  <a href="/docs#redirect+these+URL+paths">Please set those up!</a>
</p>
</div>
{% endif %}

{% if user.has_hcard == False %}
<div class="row promo warning">
<p>Your site doesn't have a
  <a href="https://indieweb.org/representative_h-card">representative h-card</a>.
  <a href="https://indiewebify.me/validate-h-card/?url=https://{{ domain }}">Check it here!</a>
</p>
</div>
{% endif %}

{% include "user_addresses.html" %}

<div class="row">
    <a href="/user/{{ domain }}/followers">{{ followers }} follower{% if followers != '1' %}s{% endif %}</a>
  &middot; <a href="/user/{{ domain }}/following">following {{ following }}</a>
  &middot; <a href="/user/{{ domain }}/feed">HTML</a>
  &middot; <a href="/user/{{ domain }}/feed?format=atom">Atom</a>
  &middot; <a href="/user/{{ domain }}/feed?format=rss">RSS</a>
  &middot; <a href="/.well-known/webfinger?resource=acct:{{ domain }}@{{ domain }}">Webfinger</a>
  &middot; <a href="/{{ domain }}">ActivityPub</a>
</div>

<!-- <div class="row">Recent activity</div> -->

{% include "activities.html" %}

{% endblock %}
