{% extends "base.html" %}

{% block title %}{{ domain }} - Bridgy Fed{% endblock %}

{% block content %}

{% if user.has_redirects == False %}
<div class="row promo warning">
<form method="post" action="/web-site">
  <a href="/docs#redirect+these+URL+paths">
    Set up the <code>/.well-known/</code> redirects.
  </a>
  <input type="hidden" name="url" value="https://{{ domain }}" />
  <input type="submit" class="retry" value="🔄" title="Retry" />
</form>
</div>
{% endif %}

{% if user.has_hcard == False %}
<div class="row promo warning">
<form method="post" action="/web-site">
  <a href="https://indiewebify.me/validate-h-card/?url=https://{{ domain }}">
    Add a representative h-card.
  </a>
  <input type="hidden" name="url" value="https://{{ domain }}" />
  <input type="submit" class="retry" value="🔄" title="Retry" />
</form>
</div>
{% endif %}

{% include "user_addresses.html" %}

<div class="row">
    <a href="/user/{{ domain }}/followers">{{ followers }} follower{% if followers != '1' %}s{% endif %}</a>
  &middot; <a href="/user/{{ domain }}/following">following {{ following }}</a>
  &middot; <a href="/user/{{ domain }}/feed">HTML</a>
  &middot; <a href="/user/{{ domain }}/feed?format=atom">Atom</a>
  &middot; <a href="/user/{{ domain }}/feed?format=rss">RSS</a>
  &middot; <a href="/.well-known/webfinger?resource=acct:{{ domain }}@{{ domain }}">Webfinger</a>
  &middot; <a href="/{{ domain }}">ActivityPub</a>
</div>

<!-- <div class="row">Recent activity</div> -->

{% include "activities.html" %}

{% endblock %}
