{% extends "base.html" %}

{% block title %}{{ id }} {{ tab }} - Bridgy Fed{% endblock %}

{% block content %}

{% if g.user.LABEL == 'web' %}
{% if g.user.has_redirects == False %}
<div class="row promo warning">
<form method="post" action="/web-site">
  Next step:
  <a href="/docs#redirect+these+URL+paths">
    add the .well-known redirects.
  </a>
  <input type="hidden" name="url" value="{{ g.user.web_url() }}" />
  <input type="submit" class="btn btn-default" value="Check now" />
</form>

{% if g.user.redirects_error %}
<details class="small">
  {{ g.user.redirects_error|safe }}
</details>
{% endif %}
</div>
{% endif %}

{% if g.user.has_hcard == False %}
<div class="row promo warning">
<form method="post" action="/web-site">
  Next step: <a href="/docs#profile">add a representative h-card.</a>
  <input type="hidden" name="url" value="{{ g.user.web_url() }}" />
  <input type="submit" class="btn btn-default" value="Check now" />
</form>
</div>
{% endif %}
{% endif %}

<div class="row big">
  {{ g.user.user_link()|safe }}
</div>

<!-- tabs -->
<div class="row tabs">
  <a></a>
  <a href="{{ g.user.user_page_path() }}"
     {% if tab == 'profile' %}class="active-tab"{% endif %}
     >👤 Profile</a><a
   href="{{ g.user.user_page_path('home') }}"
     {% if tab == 'home' %}class="active-tab"{% endif %}
     >🏠 Feed</a><a
   href="{{ g.user.user_page_path('notifications') }}"
     {% if tab == 'notifications' %}class="active-tab"{% endif %}
     >🔔 Notifications</a>
  <a></a>
</div>

{% block subtabs %}
{% endblock subtabs %}

{% block feed %}
{% include "activities.html" %}
{% endblock feed %}

{% endblock content %}
