<div class="row">
  <div class="big" style="display: inline">
    {{ user.user_page_link()|safe }}
    &middot;
    <span title="Fediverse address">
      <nobr>
        <img class="logo" src="/static/fediverse_logo.svg">
        {{ user.address() }}
      </nobr>
    </span>
    &middot;

    <nobr>
      <a title="Web site" href="https://{{ domain }}/">🌐 {{ domain }}</a>
      <form method="post" action="/webmention-interactive">
        <input name="source" type="hidden" value="https://{{ domain }}/" />
        <button id="update-profile-button" type="submit"
                title="Update profile from web site"
                class="btn btn-default glyphicon glyphicon-refresh"></button>
      </form>
    </nobr>
  </div>
</div>
