{% extends "base.html" %}

{% block title %}{{ id }} {{ tab }} - Bridgy Fed{% endblock %}

{% block content %}

{% if user.LABEL == 'web' and not user.has_redirects %}
<div class="row promo warning">

<p>Bridgy Fed is providing <a href="{{ user.web_url() }}">{{ user.handle_or_id() }}</a> a presence in the <a href="https://en.wikipedia.org/wiki/Fediverse">fediverse</a> and/or <a href="https://bsky.social/">Bluesky</a>. This account was generated automatically when someone first followed it. <a href="/docs#web-how-post">Learn more here</a>.</p>

<p>Do you own <a href="{{ user.web_url() }}">{{ user.handle_or_id() }}</a>? You can <a href="/docs#opt-out">opt out</a> or <a href="/docs#fediverse-enhanced">upgrade your fediverse handle</a> from <code>@web.brid.gy</code> to <code>@{{ user.handle_or_id() }}</code>.</p>

<form method="post" action="/web-site">
  <span style="vertical-align: top">
    Got your <a href="/docs#fediverse-enhanced">redirects set up</a>?
    <input type="hidden" name="url" value="{{ user.web_url() }}" />
    <input type="submit" class="btn btn-default" value="Check now" />
  </span>

  {% if user.redirects_error %}
  <details>
    <summary class="btn btn-default">See results</summary>
    <span class="small">{{ user.redirects_error|safe }}</span>
  </details>
  {% endif %}
</form>
</div>
{% endif %} {# promos for web users #}

<div class="row">
  {% include 'user_with_links.html' %}
</div>

{% block tabs %}
<div class="row tabs">
  <a class="left-tab"></a>
  <a href="{{ user.user_page_path() }}"
     {% if tab == 'profile' %}class="active-tab"{% endif %}
     >👤 Profile</a>{% if user.LABEL == 'web' %}<a
   href="{{ user.user_page_path('home') }}"
     {% if tab == 'home' %}class="active-tab"{% endif %}
     >🏠 Feed</a>{% endif %}<a
   href="{{ user.user_page_path('notifications') }}"
     {% if tab == 'notifications' %}class="active-tab"{% endif %}
     >🔔 Notifications</a>
  <a class="right-tab"></a>
</div>
{% endblock tabs %}

{% block subtabs %}
{% endblock subtabs %}

{% block feed %}
{% include "activities.html" %}
{% endblock feed %}

{% endblock content %}
