<div class="row">
  <div class="big" style="display: inline">
    {{ g.user.user_link()|safe }}
    &middot;
    <span title="Fediverse address">
      <nobr>
        <img class="logo" src="/static/fediverse_logo.svg">
        {{ g.user.ap_address() }}
      </nobr>
    </span>
    &middot;

    <nobr>
      {{ util.pretty_link(g.user.web_url(), text_prefix='🌐', attrs={'title': 'Web site'})|safe }}

      {% if g.user.LABEL != 'activitypub' %}
      <form method="post" action="/webmention-interactive">
        <input name="source" type="hidden" value="{{ g.user.web_url() }}" />
        <button id="update-profile-button" type="submit"
                title="Update profile from web site"
                class="btn btn-default glyphicon glyphicon-refresh"></button>
      </form>
      {% endif %}
    </nobr>
  </div>
</div>
